{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
{% include 'partials/global/_estilos_impressao.html' %}
{% include 'header.html' %}
{% include 'partials/global/_botao_impressao.html' %}
<div class="titulo-carta-competencia">
  {% include 'partials/global/_header_titulo.html' with titulo="CARTA DE COMPETÊNCIA" icone="bi bi-person-badge-fill" emoji="📄" %}
</div>
{% include 'partials/global/_formulario_rodape.html' with numero_formulario="F216 Rev.01" %}

<div class="container pdf-container" style="font-size: 11pt;">

  <!-- Local e Data -->
  <div class="text-center mt-3 mb-4" style="font-size: 11.5pt;">
    <em>Itaquaquecetuba - SP, {{ data_atual|date:"d/m/Y" }}</em>
  </div>

  <!-- Texto principal -->
  <div class="main-text mb-5" style="font-size: 12pt; text-align: justify; line-height: 1.5;">
  <p style="text-indent: 1.25cm; margin-bottom: 0;">
    Apesar da não correspondência completa aos requisitos mínimos de <strong>ESCOLARIDADE</strong>,
    determinados pela <strong>{{ core_settings.nome_empresa }}</strong> na Descrição de Cargo
    <strong>nº {{ funcionario.cargo_atual.numero_dc }}</strong>,
    autorizo o(a) colaborador(a) <strong>{{ funcionario.nome }}</strong> a exercer a função de
    <strong>{{ funcionario.cargo_atual }}</strong>, considerando a experiência e o seu desempenho
    apresentado até o momento.
  </p>

  <p style="text-indent: 1.25cm; margin-top: 12pt; margin-bottom: 0;">
    Esta decisão é tomada com base no poder diretivo da empresa, conforme previsto na legislação trabalhista vigente.
  </p>

  <p style="text-indent: 1.25cm; margin-top: 12pt;">
    Sem mais,
  </p>
</div>



  <!-- Espaço flexível para empurrar a tabela para o rodapé -->
  <div style="flex-grow: 1; min-height: 180px;"></div>

  <!-- Assinaturas -->
<div class="mt-5 pt-4 assinaturas-fixas">
    <table class="table table-bordered table-striped text-center align-middle" style="font-size: 10.5pt;">
      <thead class="table-light">
        <tr>
          <th><i class="bi bi-person-lines-fill me-1"></i> Colaborador</th>
          <th><i class="bi bi-people-fill me-1"></i> Gestor</th>
          <th><i class="bi bi-person-gear me-1"></i> Responsável RH</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div style="border-top: 1px dashed #000; padding-top: 10px; margin-top: 10px;">
              {{ funcionario.nome }}
            </div>
            <div class="mt-2 d-print-none">
              <em>Data:</em> ___/___/____
            </div>
          </td>
          <td>
            <div style="border-top: 1px dashed #000; padding-top: 10px; margin-top: 10px;">
              {{ funcionario.responsavel }}
            </div>
            <div class="mt-2 d-print-none">
              <em>Data:</em> ___/___/____
            </div>
          </td>
          <td>
            <div style="border-top: 1px dashed #000; padding-top: 10px; margin-top: 10px;">
              Responsável R.H.
            </div>
            <div class="mt-2 d-print-none">
              <em>Data:</em> ___/___/____
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<style>
    @media print {
  .assinaturas-fixas {
    position: fixed;
    bottom: 35mm; /* Ajuste conforme necessário */
    left: 10mm;
    right: 10mm;
  }
  .titulo-carta-competencia h2 {
      font-size: 14pt !important;
    }
}

</style>
{% endblock %}
