{% for subordinado in subordinados %}
<li>
    <div class="tree-node" onclick="toggleSubordinates(this)">
        {% if subordinado.foto %}
        <img src="{{ subordinado.foto }}" alt="Foto" width="50" height="50" class="img-thumbnail rounded-circle"><br>
        {% endif %}
        <strong>{{ subordinado.nome }}</strong><br>
        {{ subordinado.cargo }}
        <br>
        <!-- Ícone de subordinados -->
        {% if subordinado.subordinados %}
        <span title="Quantidade de subordinados">
            <i class="fas fa-users"></i> {{ subordinado.subordinados|length }}
        </span>
        {% endif %}
    </div>
    {% if subordinado.subordinados %}
    <ul class="subordinates hidden">
        {% include "funcionarios/subordinados_recursivos.html" with subordinados=subordinado.subordinados %}
    </ul>
    {% endif %}
</li>
{% endfor %}