{% extends 'base.html' %}

{% block title %}Avaliações de Treinamentos{% endblock %}

{% block content %}
<!-- Toast container para mensagens de alerta -->
<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 11;">
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "error" %}
                <div class="toast align-items-center border-0" style="background-color: #f8d7da; color: #842029;">
                    <div class="d-flex">
                        <div class="toast-body">
                            <h4 class="alert-heading">Atenção!</h4>
                            <p>{{ message }}</p>
                        </div>
                    </div>
                </div>
            {% elif message.tags == "success" %}
                <div class="toast align-items-center border-0" style="background-color: #d1e7dd; color: #0f5132;" data-bs-delay="10000">
                    <div class="d-flex">
                        <div class="toast-body">
                            <h4 class="alert-heading">Sucesso!</h4>
                            <p>{{ message }}</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>

<div class="container mt-5">
    <h2 class="text-center mb-4">Avaliações de Treinamentos</h2>

   <!-- Botões de Cadastrar Avaliação e Imprimir -->
    <div class="text-end mb-4">
        <a href="{% url 'avaliacao_create' %}" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> Cadastrar
        </a>
       <!-- Botão de Imprimir Avaliação -->
        <button type="button" class="btn btn-info ms-2" data-bs-toggle="modal" data-bs-target="#imprimirAvaliacaoModal">
            <i class="bi bi-printer"></i> Imprimir
        </button>


    </div>



   <!-- Modal para selecionar avaliação e imprimir -->
<div class="modal fade" id="imprimirAvaliacaoModal" tabindex="-1" aria-labelledby="imprimirAvaliacaoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imprimirAvaliacaoModalLabel">Selecionar Avaliação para Imprimir</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="imprimirAvaliacaoForm" method="GET" action="">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="avaliacao_id" class="form-label">Avaliação:</label>
                        <select name="avaliacao_id" id="avaliacao_id" class="form-select select2" required>
                            <option value="">Selecione uma avaliação</option>
                            {% for avaliacao in avaliacoes_treinamento %}
                                <option value="{{ avaliacao.id }}">{{ avaliacao.funcionario.nome }} - {{ avaliacao.treinamento.assunto }} - {{ avaliacao.data_avaliacao|date:"d/m/Y" }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Imprimir</button>
                </form>
            </div>
        </div>
    </div>
</div>


    <form method="get" class="mb-4">
    <div class="row">
        <!-- Filtro por Treinamento com Select2 -->
        <div class="col-md-6">
            <label for="treinamento" class="form-label">Treinamento/Curso:</label>
            <select name="treinamento" id="treinamento" class="form-select select2">
                <option value="">Selecione</option>
                {% for presenca in listas_presenca %}
                    <option value="{{ presenca.id }}">{{ presenca.assunto }} - {{ presenca.data_realizacao }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Filtro por Funcionário com Select2 -->
        <div class="col-md-6">
            <label for="funcionario" class="form-label">Funcionário:</label>
            <select name="funcionario" id="funcionario" class="form-select select2">
                <option value="">Selecione</option>
                {% for funcionario in funcionarios_ativos %}
                    <option value="{{ funcionario.id }}">{{ funcionario.nome }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <!-- Filtro por Data de Avaliação -->
    <div class="row mt-3">
        <div class="col-md-6">
            <label for="data_inicio" class="form-label">Data Início:</label>
            <input type="date" name="data_inicio" class="form-control" placeholder="Data Início">
        </div>
        <div class="col-md-6">
            <label for="data_fim" class="form-label">Data Fim:</label>
            <input type="date" name="data_fim" class="form-control" placeholder="Data Fim">
        </div>
    </div>

    <!-- Botão de Filtrar -->
    <div class="text-end mt-3">
        <button type="submit" class="btn btn-primary">
            <i class="bi bi-funnel"></i> Filtrar
        </button>
    </div>
</form>


    <!-- Lista de Avaliações -->
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th>Funcionário</th>
                <th>Treinamento</th>
                <th>Data da Avaliação</th>
                <th>Status da Avaliação</th>
                <th>Status do Prazo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
    {% for avaliacao in avaliacoes_treinamento %}
    <tr>
        <td class="align-middle">{{ avaliacao.funcionario.nome }}</td>
        <td class="align-middle">
            {% if avaliacao.treinamento %}
                {{ avaliacao.treinamento.assunto }} - {{ avaliacao.treinamento.data_realizacao }}
            {% else %}
                Não definido
            {% endif %}
        </td>
        <td class="align-middle">{{ avaliacao.data_avaliacao|date:"d/m/Y" }}</td>
        <td class="align-middle">
            {% if avaliacao.avaliacao_geral == 1 %}
                <span class="badge bg-danger"><i class="bi bi-x-circle"></i> Pouco Eficaz</span>
            {% elif avaliacao.avaliacao_geral == 2 %}
                <span class="badge bg-primary"><i class="bi bi-check-circle"></i> Eficaz</span>
            {% elif avaliacao.avaliacao_geral == 5 %}
                <span class="badge bg-success"><i class="bi bi-star-fill"></i> Muito Eficaz</span>
            {% else %}
                <span class="badge bg-warning">{{ avaliacao.get_avaliacao_geral_display }}</span>
            {% endif %}
        </td>
       <td class="align-middle">
            {% if avaliacao.get_status_prazo == "Dentro do Prazo" %}
                <span class="badge bg-success"><i class="bi bi-check-circle-fill"></i> Dentro do Prazo</span>
            {% else %}
                <span class="badge bg-danger"><i class="bi bi-exclamation-circle"></i> Em Atraso</span>
            {% endif %}
        </td>

        <td class="align-middle">
            <a href="{% url 'visualizar_avaliacao' avaliacao.id %}" class="btn btn-light" title="Visualizar">
                <i class="bi bi-eye"></i>
            </a>
            <a href="{% url 'editar_avaliacao' avaliacao.id %}" class="btn btn-light" title="Editar">
                <i class="bi bi-pencil"></i>
            </a>
            <a href="#" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal{{ avaliacao.id }}" title="Excluir">
                <i class="bi bi-trash"></i>
            </a>
        </td>
    </tr>

            <!-- Modal para confirmação de exclusão -->
            <div class="modal fade" id="confirmDeleteModal{{ avaliacao.id }}" tabindex="-1" aria-labelledby="confirmDeleteModalLabel{{ avaliacao.id }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmDeleteModalLabel{{ avaliacao.id }}">Confirmar Exclusão</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Tem certeza de que deseja excluir a avaliação de <strong>{{ avaliacao.funcionario.nome }}</strong> para o treinamento <strong>{{ avaliacao.treinamento.assunto }}</strong>?</p>
                        </div>
                        <div class="modal-footer">
                            <form method="post" action="{% url 'excluir_avaliacao' avaliacao.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i> Confirmar Exclusão</button>
                            </form>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>

            {% empty %}
            <tr>
                <td colspan="6" class="text-center">Nenhuma avaliação cadastrada.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<style>
/* Estilos específicos para Select2 dentro da modal */
#imprimirAvaliacaoModal .select2-container--default .select2-selection--single {
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}

#imprimirAvaliacaoModal .select2-container {
    z-index: 9999 !important;
    width: 100% !important;
}

#imprimirAvaliacaoModal .select2-dropdown {
    z-index: 1050; /* Garante que o dropdown fique acima da modal */
}
</style>





<script>
document.addEventListener('DOMContentLoaded', function () {
    // Exibe os toasts
    const toasts = document.querySelectorAll('.toast');
    toasts.forEach(toast => {
        const bsToast = new bootstrap.Toast(toast);
        bsToast.show();
    });

</script>

<script>
document.addEventListener('DOMContentLoaded', function () {
    // Inicializa os elementos Select2
    $('.select2').select2({
        placeholder: 'Selecione uma avaliação',
        allowClear: true,
        width: '100%',
    });

    // Configura o Select2 para dropdowns dentro da modal
    $('#imprimirAvaliacaoModal').on('shown.bs.modal', function () {
        $('#avaliacao_id').select2({
            placeholder: 'Selecione uma avaliação',
            allowClear: true,
            dropdownParent: $('#imprimirAvaliacaoModal') // Garante que o dropdown do Select2 fique dentro da modal
        });
    });

    // Submissão do formulário de impressão
    document.getElementById('imprimirAvaliacaoForm').addEventListener('submit', function (event) {
        event.preventDefault();

        // Obtém o ID da avaliação selecionada
        const avaliacaoId = document.getElementById('avaliacao_id').value;

        if (avaliacaoId) {
            // Constrói a URL de impressão com o ID da avaliação
            const imprimirUrl = "{% url 'imprimir_treinamento' 0 %}".replace('0', avaliacaoId);
            window.open(imprimirUrl, '_blank'); // Abre a página de impressão em uma nova aba
        } else {
            alert('Por favor, selecione uma avaliação.');
        }
    });
});
</script>







{% endblock %}
