{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
  {% if edicao %}Editar Documento{% else %}Cadastrar Documento{% endif %}
{% endblock %}

{% block content %}
{% include "partials/global/_header_titulo.html" with titulo=edicao|yesno:"Editar Documento,Cadastrar Documento" icone="bi bi-journal-text" emoji="📄" %}
{% include "partials/global/_toast_mensagens.html" %}

<div class="container mt-4">
  <form method="post" enctype="multipart/form-data" class="row g-3" role="form">
    {% csrf_token %}
    {% include "partials/global/_form_errors.html" %}

    <div class="col-md-6">
      <label for="{{ form.nome.id_for_label }}" class="form-label">Nome:</label>
      {{ form.nome|add_class:"form-control" }}
    </div>

    <div class="col-md-6">
      <label for="{{ form.codigo.id_for_label }}" class="form-label">Código:</label>
      {{ form.codigo|add_class:"form-control" }}
    </div>

    <div class="col-md-6">
      <label for="{{ form.responsavel_recuperacao.id_for_label }}" class="form-label">Responsável pela Recuperação:</label>
      {{ form.responsavel_recuperacao|add_class:"form-select select2" }}
    </div>

    <div class="col-md-6">
      <label for="{{ form.status.id_for_label }}" class="form-label">Status:</label>
      {{ form.status|add_class:"form-select" }}
    </div>

    <div class="col-md-12">
      <label for="{{ form.arquivo.id_for_label }}" class="form-label">Arquivo (PDF ou Word):</label>
      {{ form.arquivo|add_class:"form-control" }}
    </div>

    {% include "partials/global/_botoes_salvar_cancelar.html" %}
  </form>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    $('.select2').select2({
      placeholder: "Selecione uma opção",
      allowClear: true
    });
  });
</script>
{% endblock %}
