{% extends 'base.html' %}

{% block title %}Listas de Presença{% endblock %}

{% block content %}

{% load conversores %}

<div class="container mt-5">
    <h2 class="text-center mb-4">Listas de Presença</h2>

    <!-- Botão de Cadastrar Lista de Presença e Imprimir F013 -->
    <div class="text-end mb-4">
        <a href="{% url 'cadastrar_lista_presenca' %}" class="btn btn-success">Cadastrar Lista de Presença</a>
        <button type="button" class="btn btn-info ms-2" data-bs-toggle="modal" data-bs-target="#imprimirF013Modal">
            Imprimir F013
        </button>
    </div>

    <!-- Formulário de filtro -->
    <form method="get" class="mb-4">
        <div class="row">
            <!-- Filtro por Instrutor -->
            <div class="col-md-4">
                <label for="instrutor" class="form-label">Instrutor:</label>
                <select name="instrutor" id="instrutor" class="form-select">
                    <option value="">Selecione</option>
                    {% for instrutor in instrutores %}
                        <option value="{{ instrutor }}">{{ instrutor }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Filtro por Período -->
            <div class="col-md-4">
                <label for="data_inicio" class="form-label">Data Início:</label>
                <input type="date" name="data_inicio" id="data_inicio" class="form-control">
            </div>
            <div class="col-md-4">
                <label for="data_fim" class="form-label">Data Fim:</label>
                <input type="date" name="data_fim" id="data_fim" class="form-control">
            </div>
        </div>
        <div class="text-end mt-3">
            <button type="submit" class="btn btn-primary">Filtrar</button>
        </div>
    </form>

    <!-- Lista de Presenças -->
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th class="align-middle">Assunto</th>
                <th class="align-middle">Data</th>
                <th class="align-middle">Duração</th>
                <th class="align-middle">Participantes</th>
                <th class="align-middle">Necessita Avaliação</th>
                <th class="align-middle">Anexo</th>
                <th class="align-middle">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for lista in listas_presenca %}
            <tr>
                <td class="align-middle">{{ lista.assunto }}</td>
                <td class="align-middle">{{ lista.data_realizacao|date:"d/m/Y" }}</td>
                <td class="align-middle">{{ lista.duracao|horas_formatadas }}</td>
                
                <!-- Participantes com ícone de modal -->
                <td class="align-middle">
                    <a href="#" class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#modalParticipantes{{ lista.id }}">
                        <img src="https://servidor-estaticos-teal-ten.vercel.app/olho.png" alt="Participantes" style="width: 20px; height: 20px;">
                    </a>
                </td>

                <!-- Necessita Avaliação de Eficácia -->
                <td class="align-middle">
                    {% if lista.necessita_avaliacao %}
                        <span class="badge bg-warning text-dark">Sim</span>
                    {% else %}
                        <span class="badge bg-success text-white">Não</span>
                    {% endif %}
                </td>

                <!-- Link para baixar o anexo da lista de presença -->
                <td class="align-middle">
                    {% if lista.lista_presenca %}
                        <a href="{{ lista.lista_presenca.url }}" class="btn btn-sm btn-info" target="_blank" title="Baixar Anexo">
                            <i class="bi bi-file-earmark-arrow-down"></i>
                        </a>
                    {% else %}
                        <span class="text-muted">Nenhum anexo</span>
                    {% endif %}
                </td>

                <!-- Ações -->
                <td class="align-middle">
                    <a href="{% url 'visualizar_lista_presenca' lista.id %}" class="btn btn-sm btn-light" title="Visualizar">
                        <i class="bi bi-eye"></i>
                    </a>
                     <a href="{% url 'editar_lista_presenca' lista.id %}" class="btn btn-sm btn-light" title="Editar">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <a href="{% url 'excluir_lista_presenca' lista.id %}" class="btn btn-sm btn-light" title="Excluir" onclick="return confirm('Tem certeza que deseja excluir?')">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
            </tr>

            <!-- Modal para lista de participantes -->
            <div class="modal fade" id="modalParticipantes{{ lista.id }}" tabindex="-1" aria-labelledby="modalParticipantesLabel{{ lista.id }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalParticipantesLabel{{ lista.id }}">Participantes da Lista de Presença</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <ul>
                                {% for participante in lista.participantes.all %}
                                    <li>{{ participante.nome }} - {{ participante.local_trabalho }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <tr>
                <td colspan="7" class="text-center align-middle">Nenhuma lista de presença encontrada.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Modal para selecionar treinamento e imprimir F013 -->
    <div class="modal fade" id="imprimirF013Modal" tabindex="-1" aria-labelledby="imprimirF013ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imprimirF013ModalLabel">Selecionar Treinamento para Imprimir F013</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="imprimirF013Form" method="get" action="">
                        <div class="mb-3">
                            <label for="treinamento_modal" class="form-label">Treinamento:</label>
                            <select name="treinamento" id="treinamento_modal" class="form-select" required>
                                <option value="">Selecione</option>
                                {% for lista in listas_presenca %}
                                    <option value="{{ lista.id }}">{{ lista.assunto }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="submitF013Button" class="btn btn-primary">Imprimir</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Script para manipular a modal de impressão F013 -->
    <script>
    document.getElementById('submitF013Button').addEventListener('click', function(event) {
        event.preventDefault();
        var treinamentoId = document.getElementById('treinamento_modal').value;

        if (treinamentoId) {
            var form = document.getElementById('imprimirF013Form');
            var url = "/listas-presenca/imprimir_f013/" + treinamentoId + "/";
            form.action = url;
            form.submit();
        } else {
            alert("Por favor, selecione um treinamento.");
        }
    });
    </script>
</div>
{% endblock %}
