{% extends 'base.html' %}

{% block title %}Cadastro de Treinamentos{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Cadastro de Treinamentos</h2>
    <form method="post" enctype="multipart/form-data" class="row g-3">
        {% csrf_token %}

        <div class="col-md-6">
            <label for="funcionario" class="form-label">Funcionário:</label>
            {{ form.funcionario }}
        </div>

        <div class="col-md-6">
            <label for="tipo" class="form-label">Tipo de Treinamento:</label>
            {{ form.tipo }}
        </div>

        <div class="col-md-6">
            <label for="categoria" class="form-label">Categoria:</label>
            {{ form.categoria }}
        </div>

        <div class="col-md-6">
            <label for="nome_curso" class="form-label">Nome do Curso:</label>
            {{ form.nome_curso }}
        </div>

        <div class="col-md-6">
            <label for="instituicao_ensino" class="form-label">Instituição de Ensino:</label>
            {{ form.instituicao_ensino }}
        </div>

        <div class="col-md-6">
            <label for="status" class="form-label">Status:</label>
            {{ form.status }}
        </div>

        <div class="col-md-6">
            <label for="data_inicio" class="form-label">Data de Início:</label>
            {{ form.data_inicio }}
        </div>

        <div class="col-md-6">
            <label for="data_fim" class="form-label">Data de Término:</label>
            {{ form.data_fim }}
        </div>

        <div class="col-md-6">
            <label for="carga_horaria" class="form-label">Carga Horária:</label>
            {{ form.carga_horaria }}
        </div>

        <div class="col-md-6">
            <label for="anexo" class="form-label">Anexo de Certificado ou Lista de Presença:</label>
            {% if form.instance.anexo %}
                <div id="current-anexo">
                    <p>Arquivo atual: 
                        <a href="{{ form.instance.anexo.url }}" target="_blank">{{ form.instance.anexo.name }}</a>
                    </p>
                </div>
            {% endif %}
            {{ form.anexo }}
        </div>

        <!-- Botão de Salvar -->
        <div class="col-12 text-center mt-4">
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </form>

    <!-- Script para adicionar "h" ao final do valor da carga horária -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var cargaHorariaInput = document.querySelector('#id_carga_horaria');
            
            if (cargaHorariaInput) {
                cargaHorariaInput.addEventListener('blur', function () {
                    if (cargaHorariaInput.value && !cargaHorariaInput.value.endsWith('h')) {
                        cargaHorariaInput.value += 'h';
                    }
                });
            }
        });

        document.addEventListener('DOMContentLoaded', function () {
            const anexoInput = document.getElementById('id_anexo');
            const currentAnexoDiv = document.getElementById('current-anexo');

            anexoInput.addEventListener('change', function () {
                if (anexoInput.files.length > 0) {
                    if (currentAnexoDiv) {
                        currentAnexoDiv.style.display = 'none';
                    }
                }
            });
        });
    </script>
</div>
{% endblock %}
