{% extends 'base.html' %}

{% block title %}Excluir Treinamento{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Confirmar Exclusão</h2>
    <p>Você tem certeza que deseja excluir o treinamento: <strong>{{ treinamento.nome_curso }}</strong>?</p>

    <form method="post">
        {% csrf_token %}
        <a href="{% url 'lista_treinamentos' %}" class="btn btn-secondary">Cancelar</a>
        <button type="submit" class="btn btn-danger">Excluir</button>
    </form>
</div>
{% endblock %}
