{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Visualizar Treinamento{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Visualizar Treinamento: {{ treinamento.nome_curso }}</h2>

    <div class="row">
        <div class="col-md-6 text-center">
            <label class="form-label">Certificado:</label>
            {% if treinamento.anexo %}
                <div class="mt-2">
                    <a href="{{ treinamento.anexo.url }}" class="btn btn-info" target="_blank" download>Baixar Certificado</a>
                    <p>Arquivo: {{ treinamento.anexo.name }}</p>
                </div>
            {% else %}
                <p>Nenhum certificado disponível.</p>
            {% endif %}
        </div>

        <div class="col-md-6 text-center align-self-center">
            <label class="form-label">Funcionários:</label>
            {% if treinamento.funcionarios.exists %}
                <ul class="list-unstyled mt-2">
                    {% for funcionario in treinamento.funcionarios.all %}
                        <li><strong>{{ funcionario.nome }}</strong></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Nenhum funcionário associado a este treinamento.</p>
            {% endif %}
        </div>
    </div>

    <div class="mt-4">
        <h5>Detalhes do Treinamento</h5>
        <ul class="list-group">
            <li class="list-group-item"><strong>Nome do Curso:</strong> {{ treinamento.nome_curso }}</li>
            <li class="list-group-item"><strong>Instituição de Ensino:</strong> {{ treinamento.instituicao_ensino }}</li>
            <li class="list-group-item"><strong>Tipo de Treinamento:</strong> {{ treinamento.get_tipo_display }}</li>
            <li class="list-group-item"><strong>Categoria:</strong> {{ treinamento.get_categoria_display }}</li>
            <li class="list-group-item"><strong>Status:</strong> {{ treinamento.get_status_display }}</li>
            <li class="list-group-item"><strong>Data de Início:</strong> {{ treinamento.data_inicio|date:"d/m/Y" }}</li>
            <li class="list-group-item"><strong>Data de Término:</strong> {{ treinamento.data_fim|date:"d/m/Y" }}</li>
            <li class="list-group-item"><strong>Carga Horária:</strong> {{ treinamento.carga_horaria }}</li>
        </ul>
    </div>

    <!-- Descrição do treinamento -->
    <div class="mt-4">
        <h5>Descrição</h5>
        {% if treinamento.descricao %}
            <p>{{ treinamento.descricao | safe }}</p>
        {% else %}
            <p>Nenhuma descrição fornecida para este treinamento.</p>
        {% endif %}
    </div>

    <div class="mt-4 text-center">
        <a href="{% url 'lista_treinamentos' %}" class="btn btn-primary"><i class="bi bi-arrow-left-circle"></i>  Voltar</a>
    </div>
</div>
{% endblock %}
