@charset "UTF-8";

/* print.css */

/* Configurações gerais para impressão */
body {
    font-size: 10px;
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    padding: 0;
}

/* Ocultar a sidebar, navbar, e outros elementos indesejados na impressão */
.sidebar, .navbar, .menu, .d-print-none, .sidebar-container {
    display: none !important;
}

/* Ajustar o conteúdo para ocupar a largura total da página de impressão */
.container, .print-container {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

/* Definir tamanho de página A4 */
@page {
    size: A4;
    margin: 20mm; /* Margem para evitar cortes nas bordas */
}

/* Ajuste de layout para impressão */
.header {
    display: flex;
    align-items: center;
    font-family: "Courier New", Courier, monospace;
    margin-bottom: 20px;
    page-break-after: avoid;
}

.left-section img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.center-section {
    font-size: 10px;
    color: #4a4a4a;
    margin-left: 10px;
}

.center-section strong {
    font-size: 10px;
    color: #333;
}

.right-section {
    font-size: 10px;
    color: #4a4a4a;
    margin-left: auto;
    text-align: right;
    margin-right: 10px;
}

.numero-formulario {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 10px;
    color: #333;
}

.numero-pagina {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 10px;
    color: #333;
}

.numero-pagina::after {
    content: "Página " counter(page);
}

/* Estilos da tabela na impressão */
.custom-table th, .custom-table td {
    padding: 4px;
    border: 1px solid #ddd;
    font-size: 10px;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}
