@charset "UTF-8";


/* Layout Geral */
.print-container {
    max-width: 8000px;
    margin: 0 auto;
    padding: 20px;
}

.info-card {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.info-column {
    width: 48%; /* Divide em duas colunas */
}

/* Estilos personalizados da tabela */
.custom-table {
    width: 100%;
    border-collapse: collapse;
}

.custom-table th, .custom-table td {
    padding: 4px;
    border: 1px solid #ddd;
    font-size: 10px;
    text-align: center;
}

.custom-table th {
    background-color: #e7f1ff;
    color: #333;
    font-weight: bold;
}

.custom-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Ocultar itens específicos da impressão */
.d-print-none {
    display: block;
}
