<section class="mt-5">
    <table class="table table-bordered text-center assinatura-section">
      <tr>
        <td style="width: 50%;">
          <p><strong>Assinatura do Colaborador</strong></p>
          <div class="border-top mt-4 pt-2">{{ funcionario.nome }}</div>
          <small><em>Data:</em> ___/___/____</small>
        </td>
        <td style="width: 50%;">
          <p><strong>Assinatura do Responsável pela Entrega/Devolução</strong></p>
          <div class="border-top mt-4 pt-2">Qualidade / Metrologia</div>
          <small><em>Data:</em> ___/___/____</small>
        </td>
      </tr>
    </table>
  </section>
  