{% extends "base.html" %}
{% block title %}Importar TB050{% endblock %}
{% block content %}
  {% include 'partials/global/_header_titulo.html' with titulo="Importar TB050 via Excel" %}
  {% include 'partials/global/_toast_mensagens.html' %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <label for="excel_file" class="form-label">Selecione o arquivo Excel:</label>
      <input type="file" name="excel_file" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-success"><i class="bi bi-upload me-1"></i> Importar</button>
  </form>
{% endblock %}
