{% extends 'base.html' %}

{% block title %}Avaliações de Experiência{% endblock %}

{% block content %}

{% load custom_filters %}

<div class="container mt-5">
    <h2 class="text-center mb-4">Avaliações de Experiência</h2>

    <!-- Toast container para mensagens de alerta -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 11;">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                    <div class="toast align-items-center border-0" style="background-color: #f8d7da; color: #842029;">
                        <div class="d-flex">
                            <div class="toast-body">
                                <h4 class="alert-heading">Atenção!</h4>
                                <p>{{ message }}</p>
                            </div>
                        </div>
                    </div>
                {% elif message.tags == "success" %}
                    <div class="toast align-items-center border-0" style="background-color: #d1e7dd; color: #0f5132;" data-bs-delay="10000">
                        <div class="d-flex">
                            <div class="toast-body">
                                <h4 class="alert-heading">Sucesso!</h4>
                                <p>{{ message }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <div class="d-flex justify-content-end mb-4">
        {% if request.user|has_permission:'Funcionario.add_avaliacaoexperiencia' %}
        <a href="{% url 'cadastrar_avaliacao_experiencia' %}" class="btn btn-primary me-2">
            <i class="bi bi-plus-circle"></i> Cadastrar
        </a>
        {% endif %}
    
        {% if request.user|has_permission:'Funcionario.view_avaliacaoexperiencia' %}
        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#imprimirModal">
            <i class="bi bi-printer"></i> Imprimir
        </button>
        {% endif %}
    </div>
    

   <!-- Formulário de Filtro -->
    <form method="get" class="mb-4">
        <div class="row">
            <div class="col-md-3">
                <label for="funcionario" class="form-label">Colaborador:</label>
                <select name="funcionario" id="funcionario" class="form-select select2">
                    <option value="">Selecione</option>
                    {% for funcionario in funcionarios %}
                        <option value="{{ funcionario.id }}" {% if request.GET.funcionario == funcionario.id|stringformat:"s" %}selected{% endif %}>{{ funcionario.nome }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <label for="data_avaliacao" class="form-label">Período de Avaliação:</label>
                <div class="row">
                    <div class="col">
                        <input type="date" name="data_inicio" class="form-control" value="{{ request.GET.data_inicio }}">
                    </div>
                    <div class="col">
                        <input type="date" name="data_fim" class="form-control" value="{{ request.GET.data_fim }}">
                    </div>
                </div>
            </div>
        </div>
        <div class="text-end mt-3">
            <button type="submit" class="btn btn-primary"><i class="bi bi-funnel"></i> Filtrar</button>
        </div>
    </form>

  <!-- Modal de impressão -->
<div class="modal fade" id="imprimirModal" tabindex="-1" aria-labelledby="imprimirModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imprimirModalLabel">Selecionar Avaliação para Imprimir</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="imprimirForm">
                    <div class="mb-3">
                        <label for="avaliacao_modal" class="form-label">Avaliação:</label>
                        <select name="avaliacao" id="avaliacao_modal" class="form-select select2" required>
                            <option value="">Selecione</option>
                            {% for avaliacao in avaliacoes %}
                                <option value="{{ avaliacao.id }}">{{ avaliacao.funcionario.nome }} - {{ avaliacao.data_avaliacao|date:"d/m/Y" }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="submitImprimirButton" class="btn btn-primary">Imprimir</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="d-flex flex-wrap justify-content-between mb-4 mt-4">
    <!-- Total de Avaliações -->
    <div class="card text-white bg-info card-custom text-center">
        <div class="card-header"><i class="bi bi-list-ul"></i> Total de Avaliações</div>
        <div class="card-body">
            <h5 class="card-title">{{ total_avaliacoes }}</h5>
            <p class="card-text">Avaliações cadastradas</p>
        </div>
    </div>

    <!-- Efetivar -->
    <div class="card text-white bg-success card-custom text-center">
        <div class="card-header"><i class="bi bi-check-circle"></i> Efetivar</div>
        <div class="card-body">
            <h5 class="card-title">{{ efetivar }}</h5>
            <p class="card-text">Orientação Efetivar</p>
        </div>
    </div>

    <!-- Treinamento -->
    <div class="card text-dark bg-warning card-custom text-center">
        <div class="card-header"><i class="bi bi-tools"></i> Treinamento</div>
        <div class="card-body">
            <h5 class="card-title">{{ treinamento }}</h5>
            <p class="card-text">Encaminhar p/ Treinamento</p>
        </div>
    </div>

    <!-- Desligar -->
    <div class="card text-white bg-danger card-custom text-center">
        <div class="card-header"><i class="bi bi-x-circle"></i> Desligar</div>
        <div class="card-body">
            <h5 class="card-title">{{ desligar }}</h5>
            <p class="card-text">Orientação Desligar</p>
        </div>
    </div>
</div>
<style>
    .card-custom {
        flex: 1; /* Faz com que os cards ocupem o mesmo tamanho */
        min-width: 200px; /* Define uma largura mínima para os cards */
        margin: 10px; /* Adiciona espaçamento entre os cards */
    }
    .card-header {
        font-size: 1.2rem;
        font-weight: bold;
    }
</style>



<!-- Lista de Avaliações -->
<table class="table table-bordered text-center">
    <thead>
        <tr>
            <th class="align-middle">Colaborador</th>
            <th class="align-middle">Data de Avaliação</th>            
            <th class="align-middle">Gerência</th>
            <th class="align-middle">Responsável</th> <!-- Nova coluna para o responsável -->
            <th class="align-middle">Orientação</th>
            <th class="align-middle">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for avaliacao in avaliacoes %}
            <tr>
                <td class="align-middle">{{ avaliacao.funcionario.nome }}</td>
                <td class="align-middle">{{ avaliacao.data_avaliacao|date:"d/m/Y" }}</td>                
                <td class="align-middle">{{ avaliacao.gerencia }}</td>
                <td class="align-middle">{{ avaliacao.funcionario.responsavel }}</td> <!-- Exibe o responsável -->
                <td class="align-middle">
                    {% if avaliacao.orientacao == "Ótimo - Efetivar" %}
                        <span class="badge bg-primary">
                            <i class="bi bi-star-fill"></i> Efetivar
                        </span>
                    {% elif avaliacao.orientacao == "Bom - Efetivar" %}
                        <span class="badge bg-success">
                            <i class="bi bi-check-circle-fill"></i> Efetivar
                        </span>
                    {% elif avaliacao.orientacao == "Regular - Treinamento" %}
                        <span class="badge bg-warning text-dark">
                            <i class="bi bi-tools"></i> Encaminhar p/ Treinamento
                        </span>
                    {% elif avaliacao.orientacao == "Ruim - Desligar" %}
                        <span class="badge bg-danger">
                            <i class="bi bi-x-circle-fill"></i> Desligar
                        </span>
                    {% else %}
                        <span class="badge bg-secondary">
                            <i class="bi bi-question-circle"></i> Indeterminado
                        </span>
                    {% endif %}
                </td>
                <td class="align-middle">
                    {% if request.user|has_permission:'Funcionario.view_avaliacaoexperiencia' %}
                    <a href="{% url 'visualizar_avaliacao_experiencia' avaliacao.id %}" class="btn btn-sm btn-light" title="Visualizar">
                        <i class="bi bi-eye"></i>
                    </a>
                    {% endif %}
                
                    {% if request.user|has_permission:'Funcionario.change_avaliacaoexperiencia' %}
                    <a href="{% url 'editar_avaliacao_experiencia' avaliacao.id %}" class="btn btn-light" title="Editar">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    {% endif %}
                
                    {% if request.user|has_permission:'Funcionario.delete_avaliacaoexperiencia' %}
                    <a href="#" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal{{ avaliacao.id }}" title="Excluir">
                        <i class="bi bi-trash"></i>
                    </a>
                    {% endif %}
                </td>
                   
            </tr>
       

                <!-- Modal para confirmação de exclusão -->
                <div class="modal fade" id="confirmDeleteModal{{ avaliacao.id }}" tabindex="-1" aria-labelledby="confirmDeleteModalLabel{{ avaliacao.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmDeleteModalLabel{{ avaliacao.id }}">Confirmar Exclusão</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Tem certeza de que deseja excluir a avaliação de <strong>{{ avaliacao.funcionario.nome }}</strong>?</p>
                            </div>
                            <div class="modal-footer">
                                <form method="post" action="{% url 'excluir_avaliacao_experiencia' avaliacao.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
                                </form>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <tr>
                    <td colspan="5" class="text-center">Nenhuma avaliação de experiência cadastrada.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Paginação -->
<nav aria-label="Navegação de página">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1{% if request.GET %}&{{ request.GET.urlencode|remove_query_param:'page' }}{% endif %}" aria-label="Primeira">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET %}&{{ request.GET.urlencode|remove_query_param:'page' }}{% endif %}" aria-label="Anterior">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <li class="page-item active"><span class="page-link">{{ num }}</span></li>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <li class="page-item"><a class="page-link" href="?page={{ num }}{% if request.GET %}&{{ request.GET.urlencode|remove_query_param:'page' }}{% endif %}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET %}&{{ request.GET.urlencode|remove_query_param:'page' }}{% endif %}" aria-label="Próxima">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if request.GET %}&{{ request.GET.urlencode|remove_query_param:'page' }}{% endif %}" aria-label="Última">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>

</div>

<style>
/* Ajuste para o Select2 dentro da Modal */
#imprimirModal .select2-container--default .select2-selection--single {
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}

#imprimirModal .select2-container {
    z-index: 9999 !important;
    width: 100% !important;
}

#imprimirModal .select2-dropdown {
    z-index: 1050 !important;
}

#imprimirModal #avaliacao_modal + .select2-container {
    width: 100% !important;
}
</style>




<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Exibe os toasts automaticamente
        const toasts = document.querySelectorAll('.toast');
        toasts.forEach(toast => {
            const bootstrapToast = new bootstrap.Toast(toast);
            bootstrapToast.show();
        });

        // Inicializa o Select2 globalmente
        $('.select2').select2({
            placeholder: "Selecione ou digite para buscar",
            allowClear: true
        });

        // Configuração do Select2 dentro da modal
        $('#imprimirModal').on('shown.bs.modal', function () {
            $('#avaliacao_modal').select2({
                placeholder: 'Selecione uma avaliação',
                allowClear: true,
                dropdownParent: $('#imprimirModal') // Define a modal como pai do dropdown
            });
        });

        // Configuração do botão de impressão (geral para ambas as modais)
        document.querySelectorAll('#submitImprimirButton, #imprimirButton').forEach(button => {
            button.addEventListener('click', function (event) {
                event.preventDefault();

                const avaliacaoId = document.getElementById('avaliacao_modal').value;

                 if (avaliacaoId) {
            // Ajusta a URL correta para a impressão
            const url = "{% url 'imprimir_avaliacao_experiencia' 0 %}".replace('/0/', '/' + avaliacaoId + '/');
            window.location.href = url;
        } else {
            alert('Por favor, selecione uma avaliação para imprimir.');
        }
            });
        });
    });
</script>


{% endblock %}
